.products-line-slider
  .js-products-line-slider
    include ../../../modules/benefits/ben-1
    include ../../../modules/benefits/ben-2
    include ../../../modules/benefits/ben-3
    include ../../../modules/benefits/ben-4