.products-line-slider
  .js-products-line-slider
    include ../../../modules/new/new-1
    include ../../../modules/new/new-2
    include ../../../modules/new/new-3
    include ../../../modules/new/new-4