section.s-about
  .container
    h2.title-section О нас
    .about.tabs
      .tabs__body.about__body
        .tab.tab--active.tab-shop
          p.text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
          p.text Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий.
        .tab.tab-advantages
          p.text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
          p.text Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий.
        .tab.tab-service
          p.text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
          p.text Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий.
        .tab.tab-delivery
          p.text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
          p.text Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий.
      ul.tabs-navigation.about-navigation
        li(show-tab="tab-shop").about-navigation__item.tabs-navigation__item.tabs-navigation__item--active Интернет-магазин
        li(show-tab="tab-advantages").about-navigation__item.tabs-navigation__item Наши приемущества
        li(show-tab="tab-service").about-navigation__item.tabs-navigation__item Сервис
        li(show-tab="tab-delivery").about-navigation__item.tabs-navigation__item Доставка