section.s-banner
  .container
    .banner
      .banner__navigation.banner__navigation--prev
        +icon('chevron-left','banner__navigation-icon')
      .banner__navigation.banner__navigation--next
        +icon('chevron-right','banner__navigation-icon')
      .banner__dots
      .js-banner
        .banner__item
          .banner__content
            .banner__body
              span.banner__title Новинки смартфонов
              span.banner__descr Новинки 19 века до нашей эры!
              a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
            .banner__img-wrapper
              img(src="static/images/content/banner/banner-n73.png" alt="Картинка на баннере").banner__img
        .banner__item
          .banner__content
            .banner__body
              span.banner__title Новинки смартфонов
              span.banner__descr Новинки 19 века до нашей эры!
              a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
            .banner__img-wrapper
              img(src="static/images/content/banner/banner-n73.png" alt="Картинка на баннере").banner__img
        .banner__item
          .banner__content
            .banner__body
              span.banner__title Новинки смартфонов
              span.banner__descr Новинки 19 века до нашей эры!
              a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
            .banner__img-wrapper
              img(src="static/images/content/banner/banner-n73.png" alt="Картинка на баннере").banner__img
