.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Фотоаппараты
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Вспышки
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Объективы
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Линзы
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Аксессуары
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Видеокамеры
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Action-камеры
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Стедикамы
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Студийный свет
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Штативы
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Карты памяти
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Прочие аксессуары
      