.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Кухонные принадлежности 
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Кофемашины
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Блендеры
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Мультиварки
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Хлебопечки
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Электрические чайники
          li.main-subnav__item
          a(href="").main-subnav__link 
            span.main-subnav__text Мясорубки
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Инструменты
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Электроинструменты
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Ручной инструмент
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Садовый инструмент
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Наборы инструментов
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Сварочное оборудование
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Бытовая техника
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Пылесосы
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Электрические утюги
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Отпариватели для одежды
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Пароочистители
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Домашние обогреватели
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Увлажнители воздуха
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Лампы и освещение
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Внутреннее освещение
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Наружное освещение
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Светодиоидное освещение
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Лампочки
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Лампы на солнечных батареях
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Переносное освещение