.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Колонки
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Проекторы и аксессуары
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Наушники
      