.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Смартфоны 
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Android
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Apple
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Windows Phone
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Blackberry
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Symbian
          li.main-subnav__item
          a(href="").main-subnav__link 
            span.main-subnav__text Другие...
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Кнопочные телефоны
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Nokia
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Siemens
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Motorolla
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Samsung
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Другие...
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Запчасти и аксессуары
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Защитные стекла
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Чехлы
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Брелки
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Батареи
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Дисплеи
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Другие...
      