.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Принтеры
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Ч/Б принтеры
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Цветные
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text 3D принтеры
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Расходные материалы
      