nav.header__main-nav.main-nav
  ul.main-nav__list
    li.main-nav__item
      a(href="").main-nav__link Смартфоны и аксессуары
      include main-nav-dropdown-1
    li.main-nav__item
      a(href="").main-nav__link Компьютеры
      include main-nav-dropdown-2
    li.main-nav__item
      a(href="").main-nav__link Офис
      include main-nav-dropdown-3
    li.main-nav__item
      a(href="").main-nav__link Фото и видео
      include main-nav-dropdown-4
    li.main-nav__item
      a(href="").main-nav__link Аудио
      include main-nav-dropdown-6
    li.main-nav__item
      a(href="").main-nav__link Бытовая техника
      include main-nav-dropdown-5
    li.main-nav__item
      a(href="").main-nav__link TV
      include main-nav-dropdown
    li.main-nav__item
      a(href="").main-nav__link Еще