.main-nav__dropdown-wrapper
  .main-nav__dropdown
    ul.main-subnav__list
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Ноутбуки
          +icon('chevron-right','main-subnav__icon')
        ul.main-subnav__list
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text ASUS
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Apple
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Xiaomi
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text MSI
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Acer
          li.main-subnav__item
            a(href="").main-subnav__link 
              span.main-subnav__text Другие...
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Мониторы
      li.main-subnav__item
        a(href="").main-subnav__link 
          span.main-subnav__text Клавиатуры
      