.logo {
  &__img {
    height: 70px;
  }
}

.advantages {
  display: flex;
  background-color: $parcelain;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.advantage {
  align-items: center;
  display: flex;
  margin-right: 180px;
  &:last-child {
    margin-right: 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__icon {
    @include size(50px);
    fill: $dusty-gray;
    margin-right: 20px;
  }
  &__descr {
    color: $mid-gray;
    font-size: 12px;
  }
}