.product-prev
  .product-prev__header
    .js-product-prev__slider
      img(src="static/images/content/products/omen.png" alt="Изображение товара" ).product-prev__img
      img(src="static/images/content/products/omen.png" alt="Изображение товара" ).product-prev__img
  .product-prev__body
    .product-prev__info
      span.product-prev__title  Игровой монитор от HP OMEN
      span.product-prev__country Тайвань
    .product-prev__price
      span.product-prev__price-current 15990 руб.
    .product-prev__colors
  .product-prev__footer
    button.btn В корзину